<div class="row page-heading">
    <div class="col-lg-8">
        <h2><%= t('navigation.pages.dashboard') %></h2>
        <ol class="breadcrumb">
            <li>
                <%= fa_icon('home') %>
            </li>
            <li class="active">
                <strong><%= t('navigation.pages.dashboard') %></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-4 m-t-lg">
        <div class="btn-group pull-right">
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-white">
                <%= fa_icon('cog') %> <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">

                <li role="separator" class="divider"></li>

            </ul>
        </div>
    </div>
</div>

<div class="row">

  <div class="col-lg-6">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5><%= t('dashboard.box.watched_plans') %></h5>
              <div class="ibox-tools">

              </div>
          </div>
          <div class="ibox-content">
              <div class="project-list">
                  <%= datagrid_table(@dashboard_plans_grid, html: { class: 'table table-hover datagrid' }) %>
              </div>
          </div>
      </div>
  </div>

  <div class="col-lg-6">
      <div class="ibox float-e-margins">
          <div class="ibox-title">
              <h5><%= t('dashboard.box.watched_projects') %></h5>
              <div class="ibox-tools">

              </div>
          </div>
          <div class="ibox-content">
              <div class="project-list">
                  <%= datagrid_table(@dashboard_projects_grid, html: { class: 'table table-hover datagrid' }) %>
              </div>
          </div>
      </div>
  </div>

</div>
