<div class="row page-heading">
    <div class="col-lg-10">
        <h2><%= @issue.list_title %></h2>
        <ol class="breadcrumb">
            <li>
                <%= fa_icon('home') %>
            </li>
            <li>
                <%= link_to @issue.project.title, project_path(@issue.project) %>
            </li>
            <li class="active">
                <strong><%= t('activerecord.text.show', model: Issue.model_name.human) %></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 m-t-lg">
        <div class="btn-toolbar pull-right">
            <%= link_to fa_icon('plus', text: t('activerecord.text.new_instance', model: Scenario.model_name.human)), new_issue_scenario_path(@issue, redirect_url: request.original_fullpath), remote: true, class: 'btn-primary btn' %>
            <div class="btn-group pull-right">
                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-white">
                    <%= fa_icon('cog') %> <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu dropdown-menu-left">

                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="markdown"><%= @issue.html_description %></div>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div id="scenarios-label-filter">
                    <%= render partial: 'label_filter' %>
                </div>
                <div id="scenarios-table">
                    <%= render partial: 'scenarios/scenarios_grid' %>
                </div>
            </div>
        </div>
    </div>
</div>
