<small><%= t('labels.completion_with') %> (<%= round.executions.count %>/<%= round.total_scenarios_count %>): <%= round.progress %>% </small>
<div class="progress progress-mini">
    <div style="width: <%= round.progress %>%;" class="progress-bar"></div>
</div>
