<div class="markdown m-b"><%= scenario.html_body %></div>
<div class="row m-b">
    <div class="col-sm-12">
        <div class="btn-toolbar pull-right">
            <%= execution_post_defect_button(current_round, scenario) %>
            <%= execution_remark_button(params[:id], scenario.id, { button_label: true }) %>
            <%= execution_button(params[:id], scenario.id, params) %>
        </div>
    </div>
</div>
<div class="markdown m-b"><%= scenario.execution(current_round).remarks if scenario.execution(current_round) %></div>
<div class="m-b" style="padding-bottom: 5px;">
  <ul class="folder-list" style="padding-left: 0px;">
  <% defects.each do |defect| %>
      <%= content_tag(:li, link_to(fa_icon('bug', text: defect.list_title), '#') ) %>
  <% end if defects %>
  </ul>
</div>
