<div class="round-header m-b">
    <div class="row">
        <div class="col-lg-8">
            <%= render partial: 'label_filter' %>
        </div>
        <div class="col-lg-4">
            <%= round_progress(@round) %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div id="issues-nav">
            <ul class="folder-list" style="padding-left: 0px;">
            <% @scenario_folders.each do |issue| %>
            <% if @issue && @issue.id == issue.id %>
                <%= content_tag(:li, link_to(fa_icon('folder-open', text: issue_title_with_progress(@round, issue)), plan_round_path(@round, plan_id: @round.plan_id, project_id: params[:project_id], label_id: params[:label_id], no_label: params[:no_label], issue_id: issue.id, unexecuted: params[:unexecuted], execution_result: params[:execution_result])), class: 'active' ) %>
            <% else %>
                <%= content_tag(:li, link_to(fa_icon('folder', text: issue_title_with_progress(@round, issue)), plan_round_path(@round, plan_id: @round.plan_id, project_id: params[:project_id], label_id: params[:label_id], no_label: params[:no_label], issue_id: issue.id, unexecuted: params[:unexecuted], execution_result: params[:execution_result])) ) %>
            <% end %>
            <% end %>
            </ul>
        </div>
    </div>
    <div class="col-lg-5">
        <%= render partial: 'executions_list' if @issue %>
    </div>
    <div class="col-lg-4">
        <% if @scenario %>
        <h3><%= @scenario.title %></h3>
        <div class="markdown m-b"><%= @scenario.html_body %></div>
        <div class="row m-b">
            <div class="col-sm-6">
                <div class="btn-toolbar">
                    <%= link_to fa_icon('bug'), new_defect_path(project_id: @project, scenario_id: @scenario, round_id: @round, corresponding_issue_id: @issue, redirect_url: request.original_fullpath), remote: true, class: 'btn btn-sm btn-white' %>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="btn-toolbar pull-right">
                    <%= execution_remark_button(params[:id], @scenario.id, { button_label: true }) %>
                    <%= execution_button(params[:id], @scenario.id, params) %>
                </div>
            </div>
        </div>
        <div class="markdown m-b"><%= @scenario.execution(@round).remarks if @scenario.execution(@round) %></div>
        <div class="m-b" style="padding-bottom: 5px;">
          <ul class="folder-list" style="padding-left: 0px;">
          <% @defects.each do |defect| %>
              <%= content_tag(:li, link_to(fa_icon('bug', text: defect.list_title), '#') ) %>
          <% end if @defects %>
          </ul>
        </div>
        <% end %>
    </div>

</div>
