<div class="round-header m-b">
    <div class="row">
        <div class="col-lg-8">
            <%= render partial: 'label_filter' %>
        </div>
        <div class="col-lg-4">
            <%= round_progress(@round) %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div id="issues-nav">
            <ul class="folder-list" style="padding-left: 0px;">
                  <% @scenario_folders.each do |issue| %>
                    <% if @issue && @issue.id == issue.id %>
                      <%= content_tag(:li, link_to(fa_icon('folder-open', text: issue_title_with_progress(@round, issue)), plan_round_path(@round, plan_id: @round.plan_id, project_id: params[:project_id], label_id: params[:label_id], no_label: params[:no_label], issue_id: issue.id, unexecuted: params[:unexecuted], execution_result: params[:execution_result])), class: 'active' ) %>
                    <% else %>
                      <%= content_tag(:li, link_to(fa_icon('folder', text: issue_title_with_progress(@round, issue)), plan_round_path(@round, plan_id: @round.plan_id, project_id: params[:project_id], label_id: params[:label_id], no_label: params[:no_label], issue_id: issue.id, unexecuted: params[:unexecuted], execution_result: params[:execution_result])) ) %>
                    <% end %>
                  <% end %>
            </ul>
        </div>
    </div>
    <div class="col-lg-5">
        <%= render partial: 'executions_list' if @issue %>
    </div>
    <div class="col-lg-4">
        <% if @scenario %>
        <h3><%= @scenario.title %></h3>
        <div class="markdown"><%= @scenario.html_body %></div>
        <div class="btn-toolbar pull-right">
            <%= execution_remark_button(params[:id], @scenario.id, { button_label: true }) %>
            <%= execution_button(params[:id], @scenario.id, params) %>
        </div>
        <br/><br/>
        <hr class="hr-line-solid"/>
        <pre class="description"><%= @scenario.execution(@round).remarks if @scenario.execution(@round) %></pre>
        <% end %>
    </div>

</div>
