<div class="row page-heading">
    <div class="col-lg-10">
        <h2><%= @round.title %> <%= round_duration_text(@round) %></h2>
        <ol class="breadcrumb">
            <li>
                <%= fa_icon('home') %>
            </li>
            <li>
                <%= link_to(t('activerecord.text.list', model: Plan.model_name.human), plans_url) %>
            </li>
            <li>
                <%= link_to(@round.plan.title, plan_path(@round.plan)) %>
            </li>
            <li class="active">
                <strong><%= t('activerecord.text.show', model: Round.model_name.human) %></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 m-t-lg">
        <div class="btn-group pull-right">
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-white">
                <%= fa_icon('cog') %> <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to(fa_icon('pencil', text: t('buttons.edit')), edit_round_path(@round, redirect_url: request.original_fullpath), remote: true) %>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="btn-toolbar m-b-sm">
            <%= render partial: 'projects/project_selector', locals: { current_project: @project, projects: @round.projects, round: @round } %>
            <%= render partial: 'issues/issue_selector', locals: { current_project: @project, current_issue: @issue, issues: @project.issues, round: @round } %>
            <%= render partial: 'labels/label_filter', locals: { labels: Label.used_by_scenarios(@project) } %>
            <%= render partial: 'executions/execution_result_selector', locals: { labels: Label.used_by_scenarios(@project), pull: "right" } %>
        </div>
    </div>
</div>

<div class="row m-b-sm">
    <div class="col-lg-12">
        <div class="white-bg p-xs">
            <%= round_progress(@round) %>
        </div>
    </div>
</div>

<% if @issue %>

<div class="row">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><%= @issue.list_title %></h5>
            </div>
            <div class="ibox-content">
                <%= render partial: 'scenarios/scenarios_grid', locals: { scenarios_grid: @scenarios_grid } %>
            </div>
        </div>
    </div>
    <div class="col-lg-6">

        <% if @scenario %>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><%= @scenario.title %></h5>
                <div class="ibox-tools">
                    <%= link_to(fa_icon('pencil', text: t("buttons.edit")), edit_scenario_path(@scenario, redirect_url: request.original_fullpath), remote: true) %>
                </div>
            </div>
            <div class="ibox-content">
                <div class="markdown"><%= @scenario.html_body %></div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="btn-toolbar pull-right">
                            <%= execution_button(@scenario.execution(@round)) %>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><%= t('activerecord.attributes.execution.remarks') %></h5>
                <div class="ibox-tools">
                    <%= execution_remark_button(@scenario.execution(@round), { button_style: '', style: :toolbar }) %>
                </div>
            </div>
            <div class="ibox-content">
                <div class="markdown m-b">
                    <%= @scenario.execution(@round).remarks %>
                </div>
            </div>
        </div>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><%= t('activerecord.attributes.scenario.defects') %></h5>
                <div class="ibox-tools">
                    <%= execution_post_defect_button(@scenario.execution(@round), { button_style: '' }) %>
                </div>
            </div>
            <div class="ibox-content">
                <div class="markdown m-b">
                    <ul class="folder-list" style="padding-left: 0px;">
                    <% @defects.each do |defect| %>
                        <%= content_tag(:li, link_to(fa_icon('bug', text: defect.list_title), '#') ) %>
                    <% end if @defects %>
                    </ul>
                </div>
            </div>
        </div>

        <% end %>

    </div>
</div>



<% end %>
