<div class="row page-heading">
    <div class="col-lg-10">
        <h2><%= @round.title %> <%= round_duration_text(@round) %></h2>
        <ol class="breadcrumb">
            <li>
                <%= fa_icon('home') %>
            </li>
            <li>
                <%= link_to(t('activerecord.text.list', model: Plan.model_name.human), plans_url) %>
            </li>
            <li>
                <%= link_to(@round.plan.title, plan_path(@round.plan)) %>
            </li>
            <li class="active">
                <strong><%= t('activerecord.text.show', model: Round.model_name.human) %></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 m-t-lg">
        <div class="btn-group pull-right">
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-white">
                <%= fa_icon('cog') %> <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li>
                    <%= link_to(fa_icon('pencil', text: t('buttons.edit')), edit_round_path(@round, redirect_url: request.original_fullpath), remote: true) %>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row m-b">
    <div class="col-lg-10">
        <div class="btn-toolbar">
            <%= render partial: 'project_selector', locals: { current_project: @project, projects: @round.projects, round: @round } %>
            <%= render partial: 'issue_selector', locals: { current_project: @project, current_issue: @issue, issues: @project.issues, round: @round } %>
            <%= render partial: 'label_filter' %>
        </div>
    </div>
    <div class="col-lg-2">
        <%= round_progress(@round) %>
    </div>
</div>

<% if @issue %>

<div class="row">
    <div class="col-lg-6">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><%= @issue.list_title %></h5>
            </div>
            <div class="ibox-content">
                <%= render partial: 'executions_grid', locals: { executions_grid: @scenarios_grid } %>
            </div>
        </div>
    </div>
    <div class="col-lg-6">

        <% if @scenario %>

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5><%= @scenario.title %></h5>
            </div>
            <div class="ibox-content">
                <%= render partial: 'scenario', locals: { scenario: @scenario,
                  current_project: @project,
                  current_round: @round,
                  current_issue: @issue,
                  defects: @defects } %>
            </div>
        </div>

        <% end %>

    </div>
</div>



<% end %>
