<div class="row page-heading">
    <div class="col-lg-10">
        <h2><%= @round.title %> <%= round_state_label(@round) %></h2>
        <ol class="breadcrumb">
            <li>
                <%= fa_icon('home') %>
            </li>
            <li>
                <%= link_to(t('activerecord.text.list', model: Plan.model_name.human), plans_url) %>
            </li>
            <li>
                <%= link_to(@round.plan.title, plan_path(@round.plan)) %>
            </li>
            <li>
                <%= link_to(t('activerecord.text.list', model: Round.model_name.human), plan_rounds_path(@round.plan)) %>
            </li>
            <li class="active">
                <strong><%= t('activerecord.text.show', model: Round.model_name.human) %></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 m-t-lg">
        <div class="btn-group pull-right">
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-white">
                <%= fa_icon('cog') %> <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><%= complete_round_button(@round, { styles: {} }) %></li>
                <li role="separator" class="divider"></li>
                <li><%= link_to fa_icon('pencil', text: t('buttons.edit')), edit_round_path(@round) %></li>
            </ul>
        </div>
    </div>
</div>

<div class="tabs-container">
    <ul class="nav nav-tabs">
        <% @round.projects.each do |project| %>
        <% if @project && @project.id == project.id %>
        <li class="active">
        <% else %>
        <li class="">
        <% end %>
            <%= link_to project.title, round_path(@round, project_id: project) %>
        </li>
        <% end %>
    </ul>

    <div class="tab-content">
        <% @round.projects.each do |project| %>
        <% if @project && @project.id == project.id %>
        <div class="tab-pane active">
        <% else %>
        <div class="tab-pane">
        <% end %>
            <div class="panel-body">
                <%= render "show_tab_scenarios", locals: { project: project } if @project %>
            </div>
        </div>
        <% end %>
    </div>
</div>
