<div class="modal inmodal" id="remarks-modal-window" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInBottom">
            <%= simple_form_for(@execution, url: post_execution_remarks_path(@execution), remote: true, method: :post, wrapper: :vertical_form ) do |f| %>
            <div class="modal-header">
                <i class="fa fa-comment-o modal-icon"></i>
                <h4 class="modal-title"><%= t('buttons.remarks') %></h4>
            </div>
            <div class="modal-body">
                  <%= f.error_notification %>
                  <%= f.input :remarks %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal"><%= t('buttons.close') %></button>
                <%= f.submit t('buttons.save'), class: 'btn btn-primary btn-w-m' %>
            </div>
            <% end %>
        </div>
    </div>
</div>
