<%= render partial: 'issues/issue_selector', locals: { current_project: @project, current_issue: @issue, issues: @project.issues, round: @round } %>
<%= render partial: 'labels/label_filter', locals: { labels: Label.used_by_scenarios(@project) } %>
<hr class="hr-line-solid"/>

<% if @issue %>

<div class="row">
    <div class="col-lg-6">
        <div class="p-xs">
            <div class="m-b">
                <%= issue_labels(@issue) %> <%= milestone_badge(@issue.milestone) %>
            </div>
            <div class="markdown"><%= @issue.html_description %></div>
        </div>
    </div>
    <div class="col-lg-6">
        <%= render partial: 'scenarios/scenarios_grid' %>
    </div>
</div>

<% end %>
