<div class="row page-heading">
    <div class="col-lg-10">
        <h2><%= @project.name if @project.respond_to? :name %></h2>
        <ol class="breadcrumb">
            <li>
                <%= fa_icon('home') %>
            </li>
            <li>
                <%= link_to(t('activerecord.text.list', model: Project.model_name.human), projects_url) %>
            </li>
            <li class="active">
                <strong><%= t('activerecord.text.show', model: Project.model_name.human) %></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 m-t-lg">
        <div class="btn-toolbar pull-right">
            <%= link_to fa_icon('plus', text: t('activerecord.text.new_instance', model: Scenario.model_name.human)), new_project_scenario_path(@project), class: 'btn-primary btn-w-m btn' %>
            <%= link_to fa_icon('pencil', text: t('buttons.edit')), edit_project_path(@project), class: 'btn-default btn' %>
        </div>
    </div>
</div>

<div class="tabs-container">
    <ul class="nav nav-tabs">
        <% @tabs.each do |tab| %>
        <% if @current_tab == tab %>
        <li class="active">
        <% else %>
        <li class="">
        <% end %>
            <%= link_to t("activerecord.attributes.project.tabs.#{tab}"), project_path(@project, tab: tab) %>
        </li>
        <% end %>
    </ul>

    <div class="tab-content">
        <% @tabs.each do |tab| %>
        <% if @current_tab == tab %>
        <div class="tab-pane active">
        <% else %>
        <div class="tab-pane">
        <% end %>
            <div class="panel-body">
                <%= render "show_tab_#{tab}" if tab == @current_tab %>
            </div>
        </div>
        <% end %>
    </div>
</div>
