<div class="row page-heading">
    <div class="col-lg-10">
        <h2><%= @project.title if @project.respond_to? :name %></h2>
        <ol class="breadcrumb">
            <li>
                <%= fa_icon('home') %>
            </li>
            <li class="active">
                <strong><%= t('activerecord.text.show', model: Project.model_name.human) %></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 m-t-lg">
        <div class="btn-toolbar pull-right">
            <% if @current_tab == :labels %>
            <%= link_to fa_icon('plus', text: t('activerecord.text.new_instance', model: Label.model_name.human)), new_project_label_path(project_id: @project, redirect_url: request.original_fullpath), remote: true, class: 'btn-primary btn' %>
            <% end %>
            <div class="btn-group pull-right">
                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-white">
                    <%= fa_icon('cog') %> <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><%= refresh_project_gitlab_data_button(@project) %></li>
                    <li><%= refresh_project_gitlab_time_sheet_data_button(@project) %></li>
                    <li role="separator" class="divider"></li>
                    <li><%= watch_project_button(@project, { styles: {} }) %></li>
                    <li><%= link_to fa_icon('pencil', text: t('buttons.edit')), edit_project_path(@project) %></li>
                    <li role="separator" class="divider"></li>
                    <% @tabs.each do |tab| %>
                    <li>
                        <%= link_to t("activerecord.attributes.project.tabs.#{tab}"), project_path(@project, tab: tab) %>
                    </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <%= render "show_tab_#{@current_tab}" %>
    </div>
</div>
