<table class="table table-hover table-bordered time_sheet">
    <thead>
        <tr class="calendar-head">
            <th class="month">
                <div class="btn-group">
                    <%= link_to fa_icon('angle-left'), time_sheets_path(calendar: @first_day.prev_month.strftime('%Y-%m')), class: 'btn btn-white' %>
                    <%= link_to "#{@year}年#{@month.to_s.rjust(2, '0')}月", '#', class: 'btn btn-white' %>
                    <%= link_to fa_icon('angle-right'), time_sheets_path(calendar: @first_day.next_month.strftime('%Y-%m')), class: 'btn btn-white' %>
                </div>
            </th>
            <th></th>
            <th class="total"></th>
            <% 1.upto Time.days_in_month(@month, @year) do |day| %>
            <th class="day <%= Time.new(@year, @month, day).strftime('%a').downcase %>"><%= day.to_s.rjust(2, '0') %></th>
            <% end %>
        </tr>
    </thead>
    <tbody>
        <% User.time_tracking.each do |user| %>
        <tr class="user">
            <td class="name"><%= user_avatar_with_name(user, {w: '25px', h: '20px'}) %></td>
            <td><%= (@first_day.business_time_until(1.day.since(@last_day)) / 1.hours).to_i %></td>
            <td class="total"><%= TimeSheet.user_hours(user, nil, @month, @year) %></td>
            <% 1.upto Time.days_in_month(@month, @year) do |day| %>
            <td class="day <%= Time.new(@year, @month, day).strftime('%a').downcase %>"><%= TimeSheet.user_hours(user, day, @month, @year) %></td>
            <% end %>
        </tr>
        <% Project.joins(:time_sheets).where(time_sheets: { user: user, spent_at: (@first_day.beginning_of_day..@last_day.end_of_day) }).select(:id, :name, :namespace).distinct.each do |project| %>
        <tr class="project">
            <td class="name"><%= project.title %></td>
            <td></td>
            <td class="total"><%= TimeSheet.project_hours(user, project, nil, @month, @year) %></td>
            <% 1.upto Time.days_in_month(@month, @year) do |day| %>
            <td class="day <%= Time.new(@year, @month, day).strftime('%a').downcase %>"><%= TimeSheet.project_hours(user, project, day, @month, @year) %></td>
            <% end %>
        </tr>
        <% Issue.joins(:time_sheets).where(time_sheets: { user: user, project: project, spent_at: (@first_day.beginning_of_day..@last_day.end_of_day) }).select(:id, :title, :gitlab_id).distinct.each do |issue| %>
        <tr class="issue">
            <td class="name"><%= issue.list_title %></td>
            <td></td>
            <td class="total"><%= TimeSheet.issue_hours(user, issue, nil, @month, @year) %></td>
            <% 1.upto Time.days_in_month(@month, @year) do |day| %>
            <td class="day <%= Time.new(@year, @month, day).strftime('%a').downcase %>"><%= TimeSheet.issue_hours(user, issue, day, @month, @year) %></td>
            <% end %>
        </tr>
        <% end %>
        <% end %>
        <% end %>
    </tbody>
</table>
