<div class="row page-heading">
    <div class="col-lg-10">
        <h2><%= TimeSheet.model_name.human %></h2>
        <ol class="breadcrumb">
            <li>
                <%= fa_icon('home') %>
            </li>
            <li class="active">
                <strong><%= t('activerecord.text.list', model: TimeSheet.model_name.human) %></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 m-t-lg">
        <div class="btn-group pull-right">
            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-white">
                <%= fa_icon('cog') %> <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                <li><%= link_to fa_icon('refresh', text: t('activerecord.text.sync_from_gitlab', model: TimeSheet.model_name.human)), sync_time_sheets_from_gitlab_path(redirect_url: request.original_fullpath), method: :post%></li>
            </ul>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content p-w-xs">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">

                    <div class="table-responsive">
                        <%= render partial: 'time_sheets_grid' %>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
