<div class="row page-heading">
    <div class="col-lg-10">
        <h2><%= t('activerecord.text.create', model: Scenario.model_name.human) %></h2>
        <ol class="breadcrumb">
            <li>
                <%= fa_icon('home') %>
            </li>
            <li>
                <%= link_to @scenario.project.title, project_path(@scenario.project) %>
            </li>
            <li>
                <%= link_to @scenario.issue.title, project_issue_path(@scenario.issue, project_id: @scenario.project_id) %>
            </li>
            <li class="active">
                <strong><%= t('activerecord.text.create', model: Scenario.model_name.human) %></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 m-t-lg">
        <div class="btn-toolbar pull-right">

        </div>
    </div>
</div>

<div class="wrapper wrapper-content p-w-xs">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <%= t('labels.all_required') %>
                    <div class="ibox-tools">

                    </div>
                </div>
                <div class="ibox-content">
                    <%= render 'form' %>
                </div>
            </div>
        </div>
    </div>
</div>
