<div class="row page-heading">
    <div class="col-lg-10">
        <h2><%= @scenario.title %></h2>
        <ol class="breadcrumb">
            <li>
                <%= fa_icon('home') %>
            </li>
            <li>
                <%= link_to @scenario.project.title, project_path(@scenario.project) %>
            </li>
            <li>
                <%= link_to @scenario.issue.list_title, project_issue_path(@scenario.issue, project_id: @scenario.project_id) %>
            </li>
            <li class="active">
                <strong><%= t('activerecord.text.show', model: Scenario.model_name.human) %></strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2 m-t-lg">
        <div class="btn-toolbar pull-right">
            <%= link_to fa_icon('pencil', text: t('buttons.edit')), edit_scenario_path(@scenario, redirect_url: request.original_fullpath), class: 'btn-default btn-w-m btn' %>
            <div class="btn-group pull-right">
                <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-white">
                    <%= fa_icon('cog') %> <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><%= link_to(t('activerecord.text.delete', model: Scenario.model_name.human), scenario_path(@scenario), method: :delete, data: { confirm: t('messages.delete_confirmation')}) %></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="tabs-container">
    <ul class="nav nav-tabs">
        <% @tabs.each do |tab| %>
        <% if @current_tab == tab %>
        <li class="active">
        <% else %>
        <li class="">
        <% end %>
            <%= link_to t("activerecord.attributes.scenario.tabs.#{tab}"), scenario_path(@scenario, tab: tab) %>
        </li>
        <% end %>
    </ul>

    <div class="tab-content">
        <% @tabs.each do |tab| %>
        <% if @current_tab == tab %>
        <div class="tab-pane active">
        <% else %>
        <div class="tab-pane">
        <% end %>
            <div class="panel-body">
                <%= render "show_tab_#{tab}" if tab == @current_tab %>
            </div>
        </div>
        <% end %>
    </div>
</div>
