<%= simple_form_for(@plan, html: { class: 'form-horizontal' } ) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name %>
  <div class="hr-line-dashed"></div>

  <%= f.input :started_at, as: :date_picker %>
  <div class="hr-line-dashed"></div>

  <%= f.input :ended_at, as: :date_picker %>
  <div class="hr-line-dashed"></div>

  <%= f.association :projects, collection: Project.watched(current_user), label_method: :title, as: :check_boxes %>
  <div class="hr-line-dashed"></div>

  <%= f.input :body, input_html: { rows: 20 } %>
  <div class="hr-line-dashed"></div>

  <div class="form-group">
      <div class="pull-right m-r-md">
          <%= f.submit t('buttons.save'), class: 'btn btn-primary btn-w-m' %>
      </div>
      <div class="m-l-md">
        <% if redirect_url %>
        <%= link_to t('buttons.back'), redirect_url, class: 'btn btn-white' %>
        <% else %>
        <%= link_to t('activerecord.text.back_to_list', model: Plan.model_name.human), plans_path, class: 'btn btn-white' %>
        <% end %>
      </div>
  </div>
<% end %>

<script type="text/javascript" >
var simplemde = null;
$(document).on("turbolinks:load", function() {
    if(simplemde == null) {
      simplemde = new SimpleMDE({
        status: false
      });
    }
}).on("turbolinks:unload", function() {
    simplemde = null;
});
</script>
