<div class="plan-header m-b">
    <div class="row">
        <div class="col-lg-8">
            <%= render partial: 'label_filter' %>
        </div>
        <div class="col-lg-4">
            <%= plan_completion(@plan) %>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div id="issues-nav">
            <ul class="folder-list" style="padding-left: 0px;">
                  <% @scenario_folders.each do |issue| %>
                    <% if @issue && @issue.id == issue.id %>
                      <%= content_tag(:li, link_to(fa_icon('folder-open', text: issue.nav_title), plan_path(@plan, project_id: params[:project_id], label_id: params[:label_id], no_label: params[:no_label], issue_id: issue.id)), class: 'active' ) %>
                    <% else %>
                      <%= content_tag(:li, link_to(fa_icon('folder', text: issue.nav_title), plan_path(@plan, project_id: params[:project_id], label_id: params[:label_id], no_label: params[:no_label], issue_id: issue.id)) ) %>
                    <% end %>
                  <% end %>
            </ul>
        </div>
    </div>
    <div class="col-lg-5">
        <%= render partial: 'executions_list' if @issue %>
    </div>
    <div class="col-lg-4">
        <% if @scenario %>
        <h3><%= @scenario.title %></h3>
        <div class="markdown"><%= @scenario.html_body %></div>
        <div class="btn-toolbar pull-right">
          <%= execution_button(params[:id], @scenario.id, params) %>
          <%= execution_remark_button(params[:id], @scenario.id, { button_label: true }) %>
        </div>
        <br/><br/>
        <hr class="hr-line-solid"/>
        <pre class="description"><%= @scenario.execution(@plan).remarks if @scenario.execution(@plan) %></pre>
        <% end %>
    </div>

</div>
