<div class="row">
    <div class="col-lg-5">
        <%= render partial: 'executions_list' %>
    </div>
    <div class="col-lg-4">
        <% if @scenario %>
        <h3><%= @scenario.title %></h3>
        <pre><%= @scenario.body %></pre>
        <% end %>
    </div>
    <div class="col-lg-3">
        <div id="issues-nav">
            <ul class="folder-list">
                <li class="<%= @issue.nil? ? 'active' : ''%>"><%= link_to(fa_icon(@issue.nil? ? 'folder-open' : 'folder', text: t('activerecord.text.all', model: Scenario.model_name.human)), plan_path(@plan)) %></li>
                <% @plan.projects.each do |project| %>
                  <% project.requirements.each do |issue| %>
                    <% if @issue && @issue.id == issue.id %>
                      <%= content_tag(:li, link_to(fa_icon('folder-open', text: issue.nav_title), plan_path(@plan, issue_id: issue.id)), class: 'active' ) %>
                    <% else %>
                      <%= content_tag(:li, link_to(fa_icon('folder', text: issue.nav_title), plan_path(@plan, issue_id: issue.id)) ) %>
                    <% end %>
                  <% end %>
                <% end %>
            </ul>
        </div>
    </div>

</div>

<div id="modal_area">

</div>
